body{
    background-color: antiquewhite;
}
table{
    background-color: aquamarine;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}

tr, td{
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#imgText{
    text-align: right;
    font-weight: bold;
}

img{
    width: 100%;
}

.width1{
     width: 70%;
 }

.width2{
    width: 30%;
}

.width3{
    width: 35%;
}

#title{
    text-align: center;
    font-weight: bold;
}