/*Learned about navegation bars at https://www.w3schools.com/css/css_navbar_horizontal.asp*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li{
    float: left;
    border-right: 1px solid lightgray;
}

li:last-child{
    border-right: none;
}

#bbc{
    width: 60px;
    height: auto;
}

#icon{
    width: 15px;
    height: auto;
}

/* Learned about dropdown css on w3 Schools https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar*/

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover, .dropbtn:hover .dropbtn{
    background-color: aquamarine;
}

li.dropbtn{
    display: inline-block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-links a:hover {
    background-color:rgb(201, 201, 201);
  }
  .dropdown:hover .dropdown-links {
    display: block;
  }

/* Learned about search bars css on w3 Schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar2*/


table{
    width: 100%;
}

#left{
    text-align: left;
    font-size: x-large;
    color: rgb(68, 68, 68);
    border: 0ch;
    font-weight: bold;
}

#right{
    text-align: right;
    color: gray;
    border: 0ch;
    font-size: x-large;
}


/* Not Enough time to finish*/