/*Learned about navegation bars at https://www.w3schools.com/css/css_navbar_horizontal.asp*/

ul{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    top:0;
}

.header{
    background-color: black;
    width: 100%;
}

li{
    float: left;
    border-right: 1px solid lightgray;
}

li:last-child{
    border-right: none;
}

li{
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#icon{
    width: 15px;
    height: auto;
}

.dropbtn, .page{
    background-color: black;
    padding: 5px;
    font-size: 15px;
    border: none;
    color: white;
    width: 100%;
}

.page a{
    text-decoration: none;
    color: white;
    display: block;
}

.page:hover{
    background-color: aqua;
}

/* Learned about dropdown css on w3 Schools*/
.dropdown-links {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-links a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  .dropdown-links a:hover {
    background-color:white;
    color:black;
  }
  .dropdown:hover .dropdown-links {
    display: block;
  }

table{
    width: 100%;
}

#left{
    text-align: left;
    font-size: x-large;
    color: rgb(68, 68, 68);
    border: 0ch;
    font-weight: bold;
}

#right{
    text-align: right;
    color: gray;
    border: 0ch;
    font-size: x-large;
}


/* Not Enough time to finish*/